<div>
  <link rel="stylesheet" href="magic_counter/magic_counter.css">
  <div class="col-md-6">
    <div class="pull-right number">{{$ctrl.spells.count}}</div>
    <div class="control-button">
      <button class="btn btn-default" ng-click="$ctrl.updateSpells(1)"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="control-button">
      <button class="btn btn-default" ng-click="$ctrl.updateSpells(-1)"><span class="glyphicon glyphicon-minus"></span></button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="pull-right number">{{$ctrl.minions.count}}</div>
    <div class="control-button">
      <button class="btn btn-default" ng-click="$ctrl.updateMinions(1)"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="control-button">
      <button class="btn btn-default" ng-click="$ctrl.updateMinions(-1)"><span class="glyphicon glyphicon-minus"></span></button>
    </div>
  </div>
</div>