  <link rel="stylesheet" href="open_booster/open_booster.style.css">

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              Обычные
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right number">{{$ctrl.common}}</div>
              <div class="control-button">
                <button class="btn btn-default" ng-click="$ctrl.addValue(1, 'common')"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <div class="control-button">
                <button class="btn btn-default" ng-click="$ctrl.addValue(-1, 'common')"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              Редкие
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right number">{{$ctrl.rare}}</div>
              <div class="control-button">
                <button class="btn btn-default" ng-click="$ctrl.addValue(1, 'rare')"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <div class="control-button">
                <button class="btn btn-default" ng-click="$ctrl.addValue(-1, 'rare')"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              Эпические
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right number">{{$ctrl.epic}}</div>
              <div class="control-button">
                <button class="btn btn-default" ng-click="$ctrl.addValue(1, 'epic')"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <div class="control-button">
                <button class="btn btn-default" ng-click="$ctrl.addValue(-1, 'epic')"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              Легендарные
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right number">{{$ctrl.legend}}</div>
              <div class="control-button">
                <button class="btn btn-default" ng-click="$ctrl.addValue(1, 'legend')" ><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <div class="control-button">
                <button class="btn btn-default" ng-click="$ctrl.addValue(-1, 'legend')"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-lg btn-success success-button pull-right">OK</button>

    </div>
  </div>
