<link rel="stylesheet" href="count_panel/count_panel.style.css">
<div class="row stats">
  <div class="col-md-4">
    <magic-counter minions="$ctrl.minions"
                   spells="$ctrl.spells">
    </magic-counter>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    Общее колличество:
    {{$ctrl.minions.count + $ctrl.spells.count}}
    <card-counter></card-counter>
  </div>
</div>
<div class="row card-view">
  <card-view></card-view>
</div>
